// body {
//   background-image: none;
//   background-attachment: scroll;
// }

table {
  min-width: 60%;
}

$tpy: .25rem;
th, td {
  padding-top: $tpy;
  padding-bottom: $tpy;
}

.main-content {
  background-color: var(--global-background-color);
  color: var(--global-color);
  border-radius: 1rem;
  padding: .5rem 1rem;
  box-shadow: 0 10px 15px -3px #0000001a,
              0 4px 6px -4px #0000001a;
  
  width: 98%;
  @media screen and (min-width: 768px) {
    width: 95%;
  }
  
  @media only screen and (min-width: 1280px) {
    width: 90%; 
  }
}

.content-mt {
  width: 100%;
  p {
    margin-top: .5rem;
  }
}

footer {
  --footer-background-color: var(--global-background-color);
  --footer-link-hover-color: #2e7d32;
}