:root {
  --global-background-color: #fafafc;
  --global-background-image: linear-gradient(120deg, #ebebaa40, #aaebdd40, #aad9eb40, #e0aaeb40);
  --global-color: #212121;

  --link-background-color: transparent;
  --link-color: var(--global-color);
  --link-hover-background-color: inherit;
  --link-hover-color: #e0e0e0;

  --nav-link-color: inherit;
  --nav-link-hover-background-color: #1276b8;
  --nav-link-hover-color: #fafafa;

  --main-color: #12659c;

  --wave-fill-color: var(--primary-background-color);

  --primary-background-color: #1276b8;
  --primary-color: #e6e7e7;

  --secondary-background-color: #aad3ee;
  --secondary-color: #424244;

  --tertiary-background-color: #2e96db;
  --tertiary-color: #e6e7e7;
  --tertiary-link-hover-color: #d4d4d4;

  --btn-border-radius: 0.75rem;

  --popupbox-background-color: var(--global-background-color);
  --popupbox-color: var(--global-color);
  // --popupbox-header-background-color: #9e9e9e;
  --popupbox-btn-close-color: #212121;
  --popupbox-btn-close-background-color: #d6d6d6;
  --popupbox-btn-close-hover-color: #f0f0f0;
  --popupbox-btn-close-hover-background-color: inherit;
  --popupbox-radius: 0.75rem;

  --fingerprint-even-color: #212121;
  --fingerprint-odd-color: #4f4f4f;

  --footer-background-color: var(--global-background-color);
  --footer-color: var(--global-color);
  --footer-link-hover-color: #137c59;

  --ring-offset-shadow: 0 0 0 #0000;
  --ring-shadow: 0 0 0 #0000;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --taggle-hover-background-color: #81f5ef;
}

.dark {
  --global-background-color: #212121;
  --global-background-image: linear-gradient(120deg, #6d6d5380, #556d6640, #546e6c80, #61516880);
  --global-color: #fafafa;

  --link-background-color: transparent;
  --link-color: var(--global-color);
  --link-hover-background-color: inherit;
  --link-hover-color: #e0e0e0;

  --nav-link-color: inherit;
  --nav-link-hover-background-color: #0e4c75;
  --nav-link-hover-color: #fafafa;

  --main-color: #c8e0f0;

  --wave-fill-color: var(--primary-background-color);

  --primary-background-color: #075985;
  --primary-color: #f8fafc;

  --secondary-background-color: #334155;
  --secondary-color: var(--primary-color);

  --tertiary-background-color: var(--primary-background-color);
  --tertiary-color: var(--primary-color);
  --tertiary-link-hover-color: #cfcfcf;

  --popupbox-background-color: var(--global-background-color);
  --popupbox-color: var(--global-color);
  // --popupbox-header-background-color: #616161;
  --popupbox-btn-close-color: #fafafc;
  --popupbox-btn-close-background-color: #4b4b4b;
  --popupbox-btn-close-hover-color: #616161;
  --popupbox-btn-close-hover-background-color: inherit;

  --fingerprint-even-color: #e0e0e0;
  --fingerprint-odd-color: #c1c1c1;

  --footer-background-color: var(--global-background-color);
  --footer-color: var(--global-color);
  --footer-link-hover-color: #2bc290;
}

$selection-background-color: #27272a;
$selection-color: #fafafc;
$selection-dark-background-color: $selection-color;
$selection-dark-color: $selection-background-color;

body {
  background-color: var(--global-background-color);
  background-image: var(--global-background-image);
  background-attachment: fixed;
  color: var(--global-color);
  font-family: "Noto Sans JP", sans-serif;
}

a {
  background-color: var(--link-background-color);
  color: var(--link-color);

  &:focus,
  &:hover {
    background-color: var(--link-hover-background-color);
    color: var(--link-hover-color);
    text-decoration-color: var(--link-hover-color);
  }
}

dialog {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  width: 0;
  height: 0;
}

::selection {
  background-color: $selection-background-color;
  color: $selection-color;
  text-shadow: none;
}
::-moz-selection {
  background-color: $selection-background-color;
  color: $selection-color;
  text-shadow: none;
}

.dark ::selection {
  background-color: $selection-dark-background-color;
  color: $selection-dark-color;
  text-shadow: none;
}
.dark ::-moz-selection {
  background-color: $selection-dark-background-color;
  color: $selection-dark-color;
  text-shadow: none;
}

// style
#logo {
  width: 4rem;
  height: 4rem;
  margin: .25rem 0;

  @media only screen and (min-width: 480px) {
    width: 6rem;
    height: 6rem;
  }

  g {
    fill: var(--global-color);
  }
}

nav {
  li {
    a {
      padding: .5rem;
      color: var(--nav-link-color);

      @media only screen and (min-width: 480px) {
        padding: 1rem;
      }

      &:focus,
      &:hover {
        background-color: var(--nav-link-hover-background-color);
        color: var(--nav-link-hover-color);
      }
    }
  }
}

main {
  color: var(--main-color);
}

#main-wave {
  margin-top: -15vh;

  #waves {
    height: 15vh;

    .wave-1 {
      fill: var(--wave-fill-color) !important;
      opacity: 0.7;
    }
  
    .wave-2 {
      fill: var(--wave-fill-color) !important;
      opacity: 0.5;
    }
  
    .wave-3 {
      fill: var(--wave-fill-color) !important;
      opacity: 0.3;
    }
  
    .wave-4 {
      fill: var(--wave-fill-color) !important;
    }
  }
}

.section-primary {
  background-color: var(--primary-background-color);
  color: var(--primary-color);

  h3 {
    margin-bottom: 1rem;
  }
}

.section-secondary {
  background-color: var(--secondary-background-color);
  color: var(--secondary-color);

  h3 {
    margin-bottom: 1rem;
  }
}

.section-tertiary {
  background-color: var(--tertiary-background-color);
  color: var(--tertiary-color);

  h3 {
    margin-bottom: 1rem;
  }

  a {
    color: var(--tertiary-color);
    &:focus, &:hover {
      color: var(--tertiary-link-hover-color);
    }
  }
}

.content-mt {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .content-mt {
    width: 90%;
  }
}

.sponsor-items {
  height: 8rem;
  width : 8rem;
  background-color: var(--tertiary-color);
  border-radius: 1rem;
  padding: .25rem;

  &:focus,
  &:hover {
    background-color: var(--tertiary-link-hover-color);
  }
}

.btn {
  background: transparent;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 2px solid currentColor;
  border-radius: var(--btn-border-radius);
  font-weight: 500;
  display: inline-block;
}

.btn-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);

  &:hover,
  &:focus {
    background-color: var(--primary-color);
    color: var(--primary-background-color);
  }
}

// .links-context span {
//   font-size: 1rem;
//   vertical-align: middle;
// }

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-color);

  a {
    color: var(--footer-color);

    &:focus,
    &:hover {
      color: var(--footer-link-hover-color);
    }

    .animated-btn span {
      text-shadow: 0 1rem 0 var(--footer-link-hover-color);
    }
  }
}

/* popup box */
.mark {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#pgpkey-dialog {
  background-color: var(--popupbox-background-color);
  color: var(--popupbox-color);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--popupbox-radius);

  #pgpkey-header {
    // background-color: var(--popupbox-header-background-color);
    // border-top-left-radius: inherit;
    // border-top-right-radius: inherit;

    #popup-box-close {

      button {
        background-color: var(--popupbox-btn-close-background-color);
        color: var(--popupbox-btn-close-color) !important;
        font-size: 1.375rem;
        margin: 0.25rem 0.25rem 0;
        // padding: 0.125rem;
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 999px;

        &:hover {
          color: var(--popupbox-btn-close-hover-color) !important;
          // background-color: var(--popupbox-btn-close-hover-background-color);
        }
      }

      .bi::before {
        vertical-align: .125rem !important;
        margin-left: -.0375rem;
        margin-top: -.125rem;
      }
    }
  }

  #pgpkey-main {
    .pgpkey-contentbox {
      vertical-align: baseline;
      a {
        &:focus,
        &:hover {
          text-decoration-line: underline;
          text-decoration-color: currentColor;
        }
      }
    
      .pgp-fingerprint {
        font-family: 'Azeret Mono', monospace;
        font-weight: 200;
      
        em {
          font-style: normal;
          margin-left: .25rem;
      
          &:first-child {
            margin-left: 0;
          }
        }
      
        .even {
          color: var(--fingerprint-even-color);
          // vertical-align: text-top;
        }
      
        .odd {
          color: var(--fingerprint-odd-color);
          // vertical-align: text-bottom;
        }
      }
    }
  }
}

/* link animation */
$animation-translate-y: calc(1rem * -1);
.animated-btn {
  top: -0.125rem;
  line-height: 1.15rem;

  span {
    position: relative;
    overflow: hidden;
    display: block;
    text-shadow: 0 1rem 0 var(--link-hover-color);

    em {
      min-width: .25rem;
      display: inline-block;
      font-style: normal;
      backface-visibility: hidden;
      transition: transform 0.3s ease;
      transform: translateY(0);

      &:nth-child(1) {
        transition-delay: 0.025s;
      }
      &:nth-child(2) {
        transition-delay: 0.05s;
      }
      &:nth-child(3) {
        transition-delay: 0.075s;
      }
      &:nth-child(4) {
        transition-delay: 0.1s;
      }
      &:nth-child(5) {
        transition-delay: 0.125s;
      }
      &:nth-child(6) {
        transition-delay: 0.15s;
      }
      &:nth-child(7) {
        transition-delay: 0.175s;
      }
      &:nth-child(8) {
        transition-delay: 0.2s;
      }
      &:nth-child(9) {
        transition-delay: 0.225s;
      }
      &:nth-child(10) {
        transition-delay: 0.25s;
      }
      &:nth-child(11) {
        transition-delay: 0.275s;
      }
      &:nth-child(12) {
        transition-delay: 0.3s;
      }
    }
  }

  &:hover em {
    transform: translateY($animation-translate-y);
  }
}

.shadow {
  box-shadow: 0 1px 3px 0 var(--shadow-color),
              0 1px 2px -1px var(--shadow-color);
}

.shadow-hightlight {
  box-shadow: var(--ring-offset-shadow, 0 0 0 #0000),
              var(--ring-shadow, 0 0 0 #0000),
              10px 10px 30px 0px rgba(0, 0, 0, 0.18);
}

$toggleSize: 2.5rem;
#back-to-top-toggle {
  background-color: var(--global-background-color);
  width: $toggleSize;
  height: $toggleSize;
  bottom: 10%;
  right: 7%;
  z-index: 10;

  &:focus,
  &:hover {
    background-color: var(--taggle-hover-background-color);
    color: var(--global-color);
    transform: scale(1.1);

    // & > * {
    //   font-size: 1.75rem;
    //   margin-top: -0.25rem;
    // }
  }

  & > * {
    font-size: 1.25rem;
    margin-top: -0.125rem;
  }
}
